:root {
    --primary-color: #24d7eb; /*ocean blue */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #eaa904; /* light golden yellow */
    --heading-font: Arial, Helvetica serif; 
    --body-font: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    border
}

body {
    font-family: var(--body-font);
    margin: 0;
    padding: 20px;
    color: var(--accent1-color);
    
}

header, footer, main, section {
    border: 1px;
    padding: px;
}

.main-header {
    background-color: var(--primary-color);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-content: space-between;
    font-size: 1.5em;


    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: var(--accent1-color);
    padding: 8px 15px;
    color: white;
    

}

.hero {
    text-align: center;
    margin-top: 10px;
    
}

.hero imge {
    position: relative
}

.hero-content {
    border: 1px;
    padding: 20px;
    background-color: var(--accent2-color);
    text-align: left;
    align-items: center;
    display: flex;
    gap: 20px;
    margin: 8px auto;
    margin-top: 20px;
    width: 800;

}

.small-image {
    float: right;
    width: 200;
    flex-shrink: 0;
}

.history {text-align: center;
    background-color: var(--accent2-color);
    padding: 10px;
    margin: 8px auto;
    margin-top: 20px;
}

.history-container {
    display: flex;
    border: 1px;
    justify-content: center;
    align-items: center;
    gap:30px;

}

.history-text {
    flex: 1;
    text-align: left;
    margin-left: 15px;
}

.history-image {
    color:#264653;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 15px;
    
}

.adventure {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--accent2-color);
    margin-top: 20px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 15px;
}

figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption-size {
    font-size: small;
    padding: 2px;
    margin-top: 5px;
}

.img-box {
    width: 150px;

}

.main-footer {
    background-color: var(--primary-color);
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: center;
    border: 1px white;
    color: white;
    text-align: center;
    margin-top: 20px;

}

.socialmedia {
    display: flex;
    gap: 15px;
}

.socialmedia a {
    text-decoration: none;
}

.icon-box {
    width: 40;
    height: 40px;
  
    display: flex;
    align-items: center;
    justify-content: center;
}


