:root {
    --primary-color: #24d7eb; /*ocean blue */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #eaa904; /* light golden yellow */
    --accent3-color: #fcbd49;
    --heading-font: Arial, Helvetica serif; 
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing:border-box;
    
}

body {
    font-family: var(--body-font);
    margin: 0;
    padding: 20px;
    color: var(--accent1-color);
    
}

header, footer, main, section {
    border: 1px;
    width: 840px;
    margin: 0 auto
}

.main-header {
    background-color: var(--primary-color);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-content: space-between;
    font-size: 1.4em;


    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    padding: 8px 15px;
    color: var(--accent1-color);
    font-weight: bold;
    

}

.hero {
    position: relative;
    text-align: center;
    margin-top: 10px;
    padding: 0px;
    

}

.hero h1 {
    position: absolute;
    align-self: center;
    max-height: 50px;
    font-family: var(--heading-font);
    padding: 10px;
    top: 20px;
    margin-bottom: 10px;
    width: 100%;
    opacity: 0.8;
    color: var(--accent1-colors);
    background-color: var(--accent2-color);
    
}


.hero img {
    display: block;
    height: auto;
    width: 100%

}

.hero article {
    position:absolute;
    background-color: var(--accent2-color);
    opacity: 0.9;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -220px;


}


.hero article img {
    float: right;
    width: 200px;
    border: var(--accent1-color);
    margin: 20px;
    box-shadow: 0 0 10px var(--accent1-color);

    margin-top: 15px;
    margin-right: 10px;

}

p {
    display: block;
    text-align: left;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 16px;
    padding: 8px
}

.small-image {
    width: 200px;
    
}

.history {text-align: center;
    background-color: var(--accent2-color);
    padding: 10px;
    margin: 8px auto;
    margin-top: 10px;
    
    
}

.history-container {
    position: relative;
    display: flex;
    border: 5px;
    justify-content: center;
    align-items: center;
    gap:30px;
    width: 840px;
    margin: 0 auto

}

.history-text {
    flex: 1;
    text-align: left;
    margin-left: 15px;
    
}

.history-image {
    color:#264653;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 20px;
    
    
}

.adventure {
    text-align: center;
    margin-bottom: 12px;
    background-color: var(--accent2-color);
    margin-top: 10px;
    width: 840px;
    margin: 0 auto
    
}

.adventure h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row: row;
    justify-content: space-between;
    gap: 3px;
    max-width: 840px;
    padding: 6px;
    margin-bottom: 15px;
    margin: 0 auto;
}

figure {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%

    
}

.caption-size {
    font-size: small;
    font-style: var(--heading-font);
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.center-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.img-box {
    max-width: 840%;
    height: 100%;
    object-fit: cover;
    display: block;
   
    

}

.main-footer {
    background-color: var(--primary-color);
    display: grid;
    padding: 2px;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: center;
    border: 1px white;
    color: var(--accent1-color);
    text-align: center;
    margin-top: 12px;

}

.socialmedia {
    margin-right: 20px;
    display: flex;
    gap: 15px;
}

.socialmedia a {
    text-decoration: none;
}

.icon-box {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: right;
}

/*Company Info */
.company-info {
    margin-top: 10px;
}

.company-info h1, p{
    margin-top: 10px;
    text-align: center;
}
.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.map-container img {
    width: 100%;
    border: 1px solid #ccc;
}

iframe {
    width: 450px;
    height: 470px;

}

.form-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-bottom: 15px;
    align-items: center;
}

input[type="text"], input[type="email"], textarea {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 1rem;
}

.textarea-item {
    align-items: start;
}

.textarea-item textarea {
    height: 120px;
}

.radio-section {
    margin-left: 120px;
    margin-bottom: 20px;
}

.checkbox-item input {
    margin-right: 10px;

}

button {
    width: 100%;
    padding: 10px;
    background-color: #b4e5f0;
    border: 1px solid #999;
    cursor: pointer;
    margin-top: 15px;
}

.employee-section {
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
    background-color: var(--accent3-color);
}

.employee-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: row;
    gap: 5px;
    justify-content: space-around;
    gap: 15px;
    max-width: 840px;
    padding: 5px;
    margin-bottom: 15px;
    margin: 0 auto;

}

.message-row {
    align-items: start; /* Keeps 'Message' label at the top of the box */
    margin-top: 10px;
}

textarea {
    margin-top: 30px;
    padding: 20px;
    margin-left: -100px;
    border: 1px solid #999;
    text-align: left;
}

/* Aligning Radios and Checkbox to start where the Inputs start */
.radio-group, .checkbox-row {
    margin-left: 5px; /* Matches the width of the labels */
    text-align: left;
}

.radio-group label {
    display: block; /* Stacks radios vertically as shown in image_2d6eb6.png */
    margin-bottom: 20px;
}

.checkbox-row {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

input[id=news] {
    padding: ;
}


.form-row {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 15;
    margin-bottom: 15px;
}

.form-row .purpose-row {
    align-items: start;
}
