:root {
    --primary-color: #24d7eb; /*ocean blue */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #eaa904; /* light golden yellow */
    --heading-font: Arial, Helvetica serif; 
    --body-font: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: -moz-grid-line;
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header nav {
    display: block;
    justify-content: flex-start;
    align-items: center;
    unicode-bidi: isolate;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav, p, section {
    margin: 18px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero p {
    margin: 20px;
}

h1 {
    position: absolute;
    bottom:50px;
    width:100%;
    padding: 16px;
    text-align: center;
    opacity: 0,8;
    background-color: var(--accent2-color);
    color: var(--accent1-color); 
}

.hero article {
    position: absolute;
    margin-top: 20px;
    color: var(--accent1-color);

}

.hero article img {
    float: left;
    margin: 5px;
    width: 200px;
    border: #264653;
    box-shadow: 0 0 10px #264653
}

.hero article, p {
    margin-top: 60px;
}

.hero section, p {
    margin-top: 150px;
}
