:root {
    --primary-color: #24d7eb; /*ocean blue */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #eaa904; /* light golden yellow */
    --accent3-color: #fcbd49;
    --heading-font: Arial, Helvetica serif; 
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing:border-box;
    
}
a {
    text-decoration: none;
}

body {
    font-family: var(--body-font);
    margin: 0;
    padding: 20px;
    color: var(--accent1-color);
    
}

header, footer, main, section {
    border: 1px;
    width: 840px;
    margin: 0 auto
}

.main-header {
    background-color: var(--primary-color);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}

.logo {
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-content: space-between;
    font-size: 1.3em;


    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    padding: 8px 15px;
    color: var(--accent1-color);
    font-weight: bold;
    

}

.hero {
    position: relative;
    text-align: center;
    margin-top: 10px;
    padding: 0px;
    
    

}

.hero h1 {
    position: absolute;
    align-self: center;
    max-height: 50px;
    font-family: var(--heading-font);
    padding: 10px;
    top: 20px;
    margin-bottom: 10px;
    width: 100%;
    opacity: 0.8;
    color: var(--accent1-colors);
    background-color: var(--accent2-color);
    
}


.hero img {
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;

}

.hero article {
    position:absolute;
    background-color: var(--accent2-color);
    opacity: 0.9;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -220px;


}


.hero article img {
    float: right;
    width: 200px;
    border: var(--accent1-color);
    margin: 20px;
    box-shadow: 0 0 10px var(--accent1-color);

    margin-top: 15px;
    margin-right: 10px;

}

p {
    display: block;
    text-align: left;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 16px;
    padding: 8px
}

.small-image {
    width: 200px;
    
}

.history {text-align: center;
    background-color: var(--accent2-color);
    padding: 10px;
    margin: 8px auto;
    margin-top: 10px;
    
    
}

.history-container {
    position: relative;
    display: flex;
    border: 5px;
    justify-content: center;
    align-items: center;
    gap:30px;
    width: 840px;
    margin: 0 auto

}

.history-text {
    flex: 1;
    text-align: left;
    margin-left: 15px;
    
}

.history-image {
    color: var(--accent1-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 20px;
    
    
}

.adventure {
    text-align: center;
    margin-bottom: 12px;
    background-color: var(--accent2-color);
    margin-top: 10px;
    width: 840px;
    margin: 0 auto
    
}

.adventure h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row: row;
    justify-content: space-between;
    gap: 3px;
    max-width: 840px;
    padding: 6px;
    margin-bottom: 15px;
    margin: 0 auto;
}

figure {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%

    
}

.caption-size {
    font-size: small;
    font-style: var(--heading-font);
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.center-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.img-box {
    max-width: 840%;
    height: 100%;
    object-fit: cover;
    display: block;
   
    

}

.main-footer {
    background-color: var(--primary-color);
    display: grid;
    padding: 2px;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    color: var(--accent1-color);
    text-align: center;
    margin-top: 12px;

}

footer p {
    text-align: center;
}

.socialmedia {
    margin-right: 100px;
    display: flex;
    gap: 15px;
}

.socialmedia a {
    text-decoration: none;
}

.icon-box {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}

/*Company Info */
.company-info {
    margin-top: 10px;
}

.company-info h1, p{
    margin-top: 10px;
    text-align: center;
}
.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.map-container img {
    width: 100%;
    border: 1px solid #ccc;
}

iframe {
    width: 450px;
    height: 470px;

}

.form-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-bottom: 15px;
    align-items: center;
}

input[type="text"], input[type="email"], textarea {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 15px;
}

.textarea-item {
    align-items: start;
}

.textarea-item textarea {
    height: 120px;
}

.radio-section {
    margin-left: 120px;
    margin-bottom: 20px;
}

.checkbox-item input {
    margin-right: 10px;

}

button {
    width: 100%;
    padding: 10px;
    background-color: #b4e5f0;
    border: 1px solid #999;
    cursor: pointer;
    margin-top: 15px;
}

.employee-section {
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
    background-color: var(--accent3-color);
}

.employee-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: row;
    justify-content: space-around;
    gap: 15px;
    max-width: 840px;
    padding: 5px;
    margin-bottom: 15px;
    margin: 0 auto;

}

.message-row {
    align-items: start; /* Keeps 'Message' label at the top of the box */
    margin-top: 10px;
}

textarea {
    margin-top: 30px;
    padding: 20px;
    margin-left: -100px;
    border: 1px solid #999;
    text-align: left;
}

/* Aligning Radios and Checkbox to start where the Inputs start */
.radio-group, .checkbox-row {
    margin-left: 5px; /* Matches the width of the labels */
    text-align: left;
}

.radio-group label {
    display: block; /* Stacks radios vertically*/
    margin-bottom: 10px;
}

.checkbox-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.checkbox-row label {
    cursor:pointer
}

input[id="news"] {
    padding: 5px;
}


.form-row {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
    margin-bottom: 15px;
}

.form-row .purpose-row {
    align-items: start;
}

/*Home*/
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--accent2-color);
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.hero-content h2 {
    font-family: var(--heading-font);
    font-weight: 800;
    letter-spacing: -0.02em;
    font-size: 2rem;
    text-shadow: 2px 2px 4px var(--accent1-color);
    color: var(--accent2-color);
    margin: 15px;
    padding: 12px;
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    object-fit: cover;
    width: 840px;
    margin-bottom: 800px;
    
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
    text-align: center;
    background-color: white;
    margin-bottom: 12px;
    margin: 0 auto;

}

.home-card {
    background: #b4e5f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    
    
}

.home-card :hover {
    transform: translateY(5px);
}

.home-card img {
    width: 100%;
    height: auto;
    display: block;

}
.home-card figcaption {
    padding: 15px;
    font-size: 0.9rem;
    color: var(--accent1-color);
}

.home-card h3 {
    margin: 10px 0;
    font-size: 1.4rem;
    color: var(--accent1-color);
}

.home-card p {
    margin-top: 10px;
    font-size: 1.1rem;
    line-height: 1.4;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: transparent;
}

.newsletter {
    margin: 0 auto;
    padding: 60px;
    max-width: 840px;
    text-align: center;
    color: var(--accent1-color);
    background: white
}

.newsletter-form input[type="text"], .newsletter-form input[type="email"], .newsletter-form input[type="text"] placeholder{
    padding: 25px;
    width: 800px;
    height: 70px;
    max-width: 55%;
    border-radius: 5px;
    font-size: 1rem;

}

.newsletter-form button {
    padding: 12px 24px;
    margin-bottom: -35px;
    background-color: var(--accent1-color);
    color: #fff;
    max-width: 160px;
    height: auto;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.newsletter-form button :hover {
    background-color: var(--accent1-color);
    
}

.newsletter h4 {
    margin-top: -50px;
    margin-bottom: 20px;
    color: var(--accent1-color);
    background-color: transparent;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.newsletter p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--accent1-color);
}

.trips {
    display: inline-block;
    background-color: var(--accent1-color);
    color: white;
    padding: 20px 24px;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px auto;
    

}

.trips :hover {
    background-color: var(--accent2-color);
}
.icon-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
    ;
}

