:root {
    --text-aling: center;
    --text-color: #333;
    --image-box-shadow: 0 0 30px gray;
    --image-padding: 2px;
    --image-border: 1px;
    --image-height: auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}
main img {
    width: 150px;
    height: var(--image-height);
    border: var(--image-border);
    padding: var(--image-padding);
    background-color: #eee;
    color: var(--text-color);
    box-shadow: var(--image-box-shadow);
}

h1 {
    color: darkblue;
}
img {
    width: 150px;
    height: var(--image-height);
    border: var(--image-border);
    padding: var(--image-padding);
    box-shadow: var(--image-box-shadow);
}
p{
    padding: 0px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: var(--text-color);
    text-align: var(--text-aling);
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-aling);
}