:root {
    --text-aling: center;
    --text-color: #333;
    --image-box-shadow: 0 0 30px gray;
    --image-padding: 2px;
    --image-border: 1px;
    --image-height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12 px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    background-color: rgb(77, 126, 185);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 800px;
}
main img {
    width: 150px;
    height: var(--image-height);
    border: var(--image-border);
    padding: var(--image-padding);
    background-color: #eee;
    color: var(--text-color);
    box-shadow: var(--image-box-shadow);
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem
}

li {
    margin: 0 0 0 1rem
}

h1 {
    color: rgb(63, 101, 162);
    margin: 1rem;
}
img {
    width: 150px;
    height: var(--image-height);
    border: var(--image-border);
    padding: var(--image-padding);
    box-shadow: var(--image-box-shadow);
}
p{
    padding: 0px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: var(--text-color);
    text-align: var(--text-aling);
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    color: white;
    top: 20px;
    left: 110px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-aling);
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;

}