:root {
    --text-aling: center;
    --text-color: #333;
    --image-box-shadow: 0 0 30px gray;
    --image-padding: 2px;
    --image-border: 1px;
    --image-height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
body {
    font-size: 16 px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    background-color: rgb(77, 126, 185);
    padding: 1rempx;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    display:block;
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;
}

main img {
    width: 150px;
    height: var(--image-height);
    border: var(--image-border);
    padding: var(--image-padding);
    background-color: #eee;
    color: var(--text-color);
    box-shadow: var(--image-box-shadow);
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem
}

li {
    margin: 0 0 0 1rem
}

h1 {
    color: rgb(63, 101, 162);
    margin: 1rem;
    border-bottom: 2px;
}
img {
    width: 150px;
    height: var(--image-height);
    border: var(--image-border);
    padding: var(--image-padding);
    box-shadow: var(--image-box-shadow);
}
p{
    padding: 0px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: var(--text-color);
    text-align: var(--text-aling);
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    color: white;
    top: 20px;
    left: 110px;
}

h2 {
    display: block;
    font-size: 1,5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-aling);
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-row: 1;
}

main {
    display: block;
}